<!DOCTYPE html>
<html lang="en">

  <head>
    <title>RISK Clan | Home</title>
    <meta charset="utf-8"/>
    <link href={{ url_for('static', filename='styles/home.css') }} rel='stylesheet'/>
    <link href={{ url_for('static', filename='styles/colors.css') }} rel='stylesheet'/>
    <link href={{ url_for('static', filename='styles/ticker.css') }} rel='stylesheet'/>
  </head>

  <body>
    <div class="titletag">
      <h1 align="center">Home</h1>
      <hr width=50%/>
      <br/>
    </div>

    <!--Beginning of ticker box-->
    <div class="tcontainer">
      <div class="ticker-wrap">
        <div class="ticker-move">
          <div class="ticker-item"><b>The site is a work in progress...</b></div>
          <div class="ticker-item"><b>Please be patient.</b></div></div></div></div>
      <!--End of ticker box-->


      


  </body>

</html>
