html {
  border-left: 3px solid white;
  border-right: 3px solid white;
  height: 100%;
  position: relative;
}
.titletag {
  background-color: black;
  margin: 50px;
  border-left: 3px solid white;
  border-right: 3px solid white;
}
