h1 {
  color:gold;
}
html {
  background-color: purple;
  border-left: 3px solid white;
  border-right: 3px solid white;
}
.titletag {
  background-color: black;
  margin: 50px;
  border-left: 3px solid white;
  border-right: 3px solid white;
}
body {
  border-left: 3px solid white;
  border-right: 3px solid white;
}
